@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");
* {
  margin: 0;
  color: inherit;
}

body {
  font-family: "Poppins";
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1.6px solid #c0c0c0;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 5px;
}

.gap-1 {
  margin-left: -5px;
  margin-right: -5px;
}

.gap-2 > * {
  padding: 10px;
}

.gap-2 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-3 > * {
  padding: 20px;
}

.gap-3 {
  margin-left: -20px;
  margin-right: -20px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.background-img-lp, .background-img {
  background-image: url("img/mountaincopy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: auto;
  z-index: -5;
}

.background-img {
  padding-top: 0.75rem;
}

.background-img-lp {
  width: 100%;
}

.background-landing {
  backdrop-filter: blur(4px);
  height: 100vh;
  width: 100%;
  z-index: 2;
  background: linear-gradient(112deg, rgba(119, 39, 238, 0.5) 5%, rgba(217, 159, 136, 0.5) 51%, rgba(34, 229, 244, 0.5) 88%);
}

.calendar-background, .form-background, .background-calendar-container {
  background-color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}

.background-calendar-container {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.25rem 0.25rem;
  border-radius: 5px;
  backdrop-filter: blur(4px);
  margin-bottom: 30px;
}

.form-background {
  width: 45%;
  border-radius: 2%;
  text-align: left;
  margin: 0 auto;
  padding: 1.5rem 0.75rem;
}
.form-background p {
  font-size: 1.2rem;
  color: #3e3e3e;
  margin-bottom: 0.75rem;
}

.form-c {
  padding-top: 60px;
}

.calendar-background {
  width: 90%;
  margin: 2.25rem 0.75rem;
}

.calendar {
  position: relative;
  top: -200px;
  z-index: 5;
  margin: auto;
}

.background-title {
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: #e2e2e2;
  font-family: "Poppins", "sans-serif";
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
}

.btn-form {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: #224D53;
  font-family: "Poppins", "sans-serif";
  padding: 0.75rem 2.25rem;
  border-radius: 30px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}
.btn-form:hover {
  background-color: #316f77;
}

.todo-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: #e2e2e2;
  font-family: "Poppins", "sans-serif";
  border: none;
  outline: none;
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
  background-color: #224D53;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1rem;
}

.del-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: #e2e2e2;
  font-family: "Poppins", "sans-serif";
  border: none;
  outline: none;
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
  background-color: #ff3333;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1rem;
}
.del-btn:hover {
  background-color: #ff5757;
}

.check-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: #e2e2e2;
  font-family: "Poppins", "sans-serif";
  border: none;
  outline: none;
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
  background-color: #03bb85;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1rem;
}
.check-btn:hover {
  background-color: #04de9e;
}

.add-todo-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: #e2e2e2;
  font-family: "Poppins", "sans-serif";
  border: none;
  outline: none;
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
  background-color: #224D53;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}
.add-todo-btn:hover {
  background-color: #316f77;
}

.navbar .container, .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.navbar {
  padding: 0 1.5rem;
}
.before, .today, .selected, .day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  border-radius: none;
  min-width: 12%;
  padding: 1.75rem 0.75rem;
  font-family: "Outfit", sans-serif;
  color: #3e3e3e;
}

.day {
  background-color: #fff;
}
.day:hover {
  background-color: #bdcacb;
  cursor: pointer;
}

.selected {
  background-color: #ddc7c3;
}

.today {
  background-color: #b9dfea;
}
.today:hover {
  background-color: #bdcacb;
  cursor: pointer;
}

.before {
  background-color: #f8f4f3;
  color: #b2b2b2;
}

.day-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.dummy {
  width: 100%;
}

.week {
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
  text-align: center;
  background-color: #648287;
  border-top: 1px dashed #515151;
  border-bottom: 1px dashed #515151;
  width: 100%;
  padding: 0.25rem 0.75rem;
  box-sizing: border-box;
}

.day-of-week {
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  color: #fff;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.calendar-header h2 {
  color: #224D53;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
}
.calendar-header .chevron {
  cursor: pointer;
}
.calendar-header .chevron:hover {
  color: #34757e;
}

.top-title {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.1em;
  margin: 0.75rem 0;
  color: #BA8F86;
  font-family: "Pacifico", sans-serif;
}

.subtitle {
  color: #BA8F86;
  font-size: 3rem;
  padding: 0.75rem;
  text-align: center;
  font-family: "Pacifico", cursive;
}

.intro-title {
  display: flex;
  width: 90%;
  align-items: flex-start;
  flex-direction: column;
  color: #3e3e3e;
}
.intro-title h1 {
  margin: 0.75rem 0;
  font-size: 1.5rem;
}
.intro-title p {
  font-size: 1.2rem;
}

.site-title {
  font-family: "Pacifico", "cursive";
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-size: 3rem;
  color: #BA8F86;
}

.footer {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(112deg, rgba(119, 39, 238, 0.5) 5%, rgba(217, 159, 136, 0.5) 51%, rgba(34, 229, 244, 0.5) 88%);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
}
.footer p {
  font-family: "Outfit", sans-serif;
  color: #fff;
  font-weight: 200;
  font-size: 1.2rem;
}
.footer .footer-links {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer .footer-links a {
  padding: 0 0.75rem;
}
.footer .footer-links:hover {
  color: #BA8F86;
}

.input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #808080;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #4d4d4d;
  font-family: "Poppins", "sans-serif";
  width: 80%;
}

.labels {
  font-weight: bold;
  margin-top: 0.75rem;
  text-align: start;
  font-size: 1.2rem;
  width: 80%;
}

.todo, .todo-input-background {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1.5rem;
  margin-top: 1.5rem;
  border: 1px 1px #808080;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0.75rem 1.5rem;
}

.todo-input-background .todo-input-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.todo-input-background .todo-input-container input {
  background-color: transparent;
}

.todo-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.todo-columns {
  display: flex;
  flex-direction: column;
  width: 31%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  margin: 1.5rem 0;
  padding-bottom: 1.5rem;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
}

.todo h2 {
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-size: 1.3rem;
}
.todo p {
  padding-top: 0.25rem;
  font-size: 1rem;
}

.done-title, .btn-td-input, .btn-td {
  display: flex;
  margin: 0.75rem 0;
}

.btn-td {
  justify-content: space-between;
}

.btn-td-input {
  justify-content: flex-end;
}

.done-title {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
.done-title h2 {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.3rem;
  color: #3e3e3e;
}

.done {
  background-color: #d8ffba;
}
.done p {
  color: #515151;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-size: 1rem;
}

/*# sourceMappingURL=styles.css.map */
