.background{
    background-image: url('img/mountaincopy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: auto;
    min-height: 60vh;
    position: relative;
    z-index: -1;
  }
  
  .background-filter{
    position: absolute;
    opacity: 0.8;
    min-height: 100vh;
    width: 100%;
    z-index: 2;
    background: rgb(119,39,238);
    background: $gradient;
  }

  .form-background{
    margin: auto;
    background-color: $white;
    height: auto;
    width: 60vh;
    padding: $base-padding * 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: $base-box-shadow;
    border-radius: 2%;
    text-align: left;
    margin-top: $base-margin * 4;
  }

  .calendar{
    position: relative;
    top: -200px;
    z-index: 5;
    margin: 0 auto;
  }

  .background-title{
    display: flex;
    width: 100%;
    justify-content: center;
  }