@mixin btn($bg-color: #e2e2e2){
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    background-color: $bg-color;
    font-family: 'Poppins', 'sans-serif';
}


.btn{
    @include btn;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-border-radius;
}

.btn-form{
    @include btn($dark-green);
    padding: $base-padding $base-padding * 3;
    border-radius: 30px;
    outline: none;
    border: none;
    color: $white;
    font-size: $font-size-md;
    box-shadow: $base-box-shadow;
    &:hover{
        background-color: lighten($dark-green, 10%);
    }

}

@mixin todo-button ($bg-color: $dark-green){
    border: none;
    outline: none;
    padding: $sm-padding $base-padding;
    border-radius: 10px;
    background-color: $bg-color;
    box-shadow: $base-box-shadow;
    color: $white;
    font-size: $base-font-size;
}

.todo-btn {
    @include btn;
    @include todo-button;
}

.del-btn{
    @include btn;
    @include todo-button($del);
    &:hover{
        background-color: lighten($color: $del, $amount: 7)
    }
}

.check-btn{
    @include btn;
    @include todo-button($green);
    &:hover{
        background-color: lighten($color: $green, $amount: 7)
    }
}

.add-todo-btn{
    @include btn;
    @include todo-button;
    padding: $sm-padding * 2 $base-padding;

    &:hover{
        background-color: lighten($color: $dark-green, $amount: 10)
    }
}
