@mixin btn($bg-color: #e2e2e2){
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    background-color: $bg-color;
    font-family: 'Poppins', 'sans-serif';
}

.btn{
    @include btn;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-border-radius;
}

.btn-form{
    @include btn;
    background: $purple;
    background: $gradient;
    padding: $base-padding;
    border-radius: 30px;
    outline: none;
    border: none;
    color: $white;
    font-size: $base-font-size * 1.2;
    text-shadow: 1px 1px 2px mix(black, $gray, 6 * 10);
    width: 100%;
    box-shadow: $base-box-shadow;
}

.btn-add{
    @include btn(transparent);
    border: none;
    outline: none;
    font-size: $font-size-lg;
    color: mix(white, $gray, 6 * 10);
    &:hover{
        color: mix(white, $purple, 5 * 10);
    }
}

@each $key, $val in $colors {
    .btn-#{$key} {
        @include btn($val);
        &:hover{
            background-color: lighten($val, 5);
        }
        border: 0;
    }

}