@use 'sass:math';

%day-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $base-box-shadow;
    border-radius: none;
    min-width: 12%;
    padding: $base-padding * 2 $base-padding;
    font-family: 'Outfit', sans-serif;
}

.day{
    @extend %day-layout;
    background-color: $white;
    color: $dark-gray;


    &:hover{
        background-color: mix(white, $dark-green, 7 * 10);
        cursor: pointer;
    }
}

.day-title{
    font-size: $font-size-lg;
    font-weight: bold;
    text-align: center;
}

.dummy {
    width: 100%;
}

.week{
    display: flex;
    font-size: $base-font-size;
    justify-content: space-around;
    text-align: center;
    background-color: mix(white, $dark-green, 3 * 10);
    border-top: 1px dashed mix(white, $dark-gray, 1 * 10);
    border-bottom: 1px dashed mix(white, $dark-gray, 1 * 10);
    width: 100%;
    padding: $sm-padding $base-padding;
    box-sizing: border-box;
}

.day-of-week{
    font-size: $font-size-md;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    color: $white;
}

.past{
    @extend %day-layout;
    background-color: mix(white, $rosy-brown, 7 * 10);
    color: mix(white, $dark-gray, 3 * 10);
}
