@use 'sass:math';

%day-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $base-padding;
    border: $base-thickness solid rgb(194, 194, 194);
    box-shadow: $base-box-shadow;
    border-radius: none;
    min-width: 12%;
}

.day{
    @extend %day-layout;
    background-color: $white;
    color: mix(black, $gray, 6 * 10);
}

.day-title{
    font-size: $font-size-xl;
    font-weight: bold;
    text-align: center;
}

.day-body{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: $base-thickness;
}

.week{
    display: flex;
    font-size: $base-font-size;
    justify-content: space-around;
    text-align: center;
    background: $gray;
    background: $gradient-light;
}

.past{
    @extend %day-layout;
    background-color: mix(white, $gray, 8 * 10);
    color: mix(black, $gray, 7 * 10);
    padding-bottom: 3 * $base-padding;
}

.today{
    @extend %day-layout;
    background-color: mix(white, $blue, 7 * 10);
}