@use 'sass:math';

%day-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $base-box-shadow;
    border-radius: none;
    min-width: 12%;
    padding: $sm-padding * 7 $base-padding;
    font-family: 'Outfit', sans-serif;
    color: $dark-gray;
}

.day{
    @extend %day-layout;
    background-color: $white;

    &:hover{
        background-color: mix(white, $dark-green, 7 * 10);
        cursor: pointer;
    }
}

.selected{
    @extend %day-layout;
    background-color: mix(white, $rosy-brown, 5 * 10);
}

.today{
    @extend %day-layout;
    background-color: mix(white, $ciano, 5 * 10);
    &:hover{
        background-color: mix(white, $dark-green, 7 * 10);
        cursor: pointer;
    }
}

.before {
    @extend %day-layout;
    background-color: mix(white, $rosy-brown, 9 * 10);
    color: mix(white, $dark-gray, 6 * 10);

}

.day-title{
    font-size: $font-size-lg;
    font-weight: bold;
    text-align: center;
}

.dummy {
    width: 100%;
}

.week{
    display: flex;
    font-size: $base-font-size;
    justify-content: space-around;
    text-align: center;
    background-color: mix(white, $dark-green, 3 * 10);
    border-top: 1px dashed mix(white, $dark-gray, 1 * 10);
    border-bottom: 1px dashed mix(white, $dark-gray, 1 * 10);
    width: 100%;
    padding: $sm-padding $base-padding;
    box-sizing: border-box;
}

.day-of-week{
    font-size: $font-size-md;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    color: $white;
}

.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
        color: $dark-green; 
        font-size: $font-size-lg;
        padding: $sm-padding * 3 $base-padding * 2;
        text-align: center;
        font-family: 'Outfit', sans-serif;
        text-transform: uppercase;
    }

    .chevron{
        cursor: pointer;
        &:hover{
            color:lighten($dark-green, 12%)
        }
    }
}