@use 'sass:math';

.top-title{
    text-align: center;
    font-size: $font-size-4l;
    letter-spacing: 0.1em;
    margin: $base-margin 0;
    color: $rosy-brown;
    font-family: 'Pacifico', sans-serif;
}

.subtitle{
    color: $rosy-brown; 
    font-size: $font-size-xxl;
    padding: $base-padding;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.intro-title{
    display: flex;
    width: 90%;
    align-items: flex-start;
    flex-direction: column;
    color: $dark-gray;

    h1 {
        margin: $base-margin 0;
        font-size: $font-size-lg;
    }

    p{
        font-size: $font-size-md;
    }
}

.site-title {
    font-family: 'Pacifico', 'cursive';
    padding-top: $base-padding;
    padding-bottom: $sm-padding;
    font-size: $font-size-xxl;
    color: $rosy-brown;
}

.month-name{
    color: $dark-green; 
    font-size: $font-size-xl;
    padding: $base-padding;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    text-transform: capitalize;
}