@use 'sass:math';

%todo-background{
    display: flex;
    flex-direction: column;
    padding: $base-padding $base-padding * 2;
    margin-top: $base-margin * 2;
    border: $base-thickness 1px $gray;
    box-shadow: $base-box-shadow;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: $base-margin $base-margin * 2;
}

.todo-input-background{
    @extend %todo-background;

    .todo-input-container{
        display: flex;
        flex-direction: column;
        width: 90%;

        input{
            background-color: transparent;
        }
    }
  
  }

.todo-container{
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.todo-columns{
    display: flex;
    flex-direction: column;
    width: 31%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: $base-margin * 2 0;
    padding-bottom: $base-padding * 2;
    box-shadow: $base-box-shadow;
    backdrop-filter: blur(4px);
}

.todo {
    @extend %todo-background;
    
    h2 {
        padding-top: $base-padding;
        padding-bottom: $sm-padding;    
        font-size: $font-size-mmd;
    }

    p {
        padding-top: $sm-padding;
        font-size: $base-font-size;
    }

}

%btn-container{
    display: flex;
    margin: $base-margin 0;
}

.btn-td{
    @extend %btn-container;
    justify-content: space-between;
}

.btn-td-input{
    @extend %btn-container;
    justify-content: flex-end;
}

.done-title{
    @extend %btn-container;
    align-items: center;
    justify-content: space-between;
    color: mix($black, $olive, 7 * 10);

    h2 {
        padding-bottom: $sm-padding;
        font-size: $font-size-mmd;

    }

    p {
        padding-top: $base-padding;
        padding-bottom: $sm-padding;
        font-size: $base-font-size;
    }
}

.done{
    background-color: mix(white, $rosy-brown, 3 * 10);
}