@use 'sass:math';

%todo-background{
    display: flex;
    flex-direction: column;
    padding: $base-padding $base-padding * 2;
    margin-top: $base-margin * 2;
    border: $base-thickness 1px $gray;
    box-shadow: $base-box-shadow;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.todo-input-background{
    @extend %todo-background;
  
  }

.todo-container{
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.todo-columns{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;

    h1{
        font-size: $font-size-xl;
        text-align: center;
    }
}

.todo {
    @extend %todo-background;
    
    h2 {
        padding-top: $base-padding;
        padding-bottom: $sm-padding;
    }

    p {
        padding-top: $base-padding;
        padding-bottom: $sm-padding;
    }

}

%btn-container{
    display: flex;
    margin: $base-margin 0;
}

.btn-td{
    @extend %btn-container;
    justify-content: space-between;
}

.btn-td-input{
    @extend %btn-container;
    justify-content: flex-end;
}

.done-title{
    @extend %btn-container;
    align-items: center;
    justify-content: space-between;
}

.done{
    background-color: $checked;
}